.video-container {
  position: relative;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  max-width: 1080px;
  max-height: 80vh;
}

.video {
  object-fit: contain;
  background-color: #000;
  height: 100%;
  width: 100%;
}

.video-controls {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.video-controls::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  height: 100px;
  pointer-events: none;
  z-index: -1;
}

.video-container:hover .video-controls,
.video-container:focus-within .video-controls,
.video-container.paused .video-controls {
  opacity: 1;
}

.video-container.theater,
.video-container.fullscreen {
  width: 100%;
  max-width: initial;
}

.video-container.theater {
  max-height: 90vh;
}

.video-container.fullscreen {
  max-height: 100vh;
}

.video-controls .buttons {
  color: white;
  display: flex;
  gap: 0.5rem;
  padding: 0.25rem;
  align-items: center;
}

.video-controls .buttons button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 0;
  width: 30px;
  height: 30px;
  font-size: 24px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 150ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-controls .buttons button:hover {
  opacity: 1;
}

.volume-container {
  display: flex;
  align-items: center;
  float: left;
}

.volume-container input {
  transition: width 300ms ease-in-out;
  width: 0;
  transform-origin: left;
  transform: scaleX(0);
}

.volume-container:hover input,
.volume-container:focus-within input {
  width: 100%;
  transform: scaleX(1);
}

.duration-container {
  display: flex;
  align-items: flex-start;
  gap: 0.25rem;
  flex-grow: 1;
}

.video-controls .buttons .wide-button {
  width: 50px;
  font-size: 16px;
}

.timeline-container {
  height: 7px;
  margin-inline: .5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.timeline {
  background-color: rgba(100, 100, 100, 0.5);
  height: 3px;
  width: 100%;
  position: relative;
  transition: height 150ms ease-in-out;
}


.timeline::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--preview-progress) * 100%);
  background-color: rgb(150, 150, 150);
  display: none;
}

.timeline::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--progress-position) * 100%);
  background-color: red;
}

.timeline .thumb-indicator {
  --scale: 0;
  position: absolute;
  transform: translateX(-50%) scale(--scale);
  height: 200%;
  top: -50%;
  left: calc(var(--progress-position) * 100%);
  background-color: red;
  border-radius: 50%;
  transition: transform 150ms ease-in-out;
  aspect-ratio: 1 / 1;
}

.video-container.scrubbing .timeline,
.timeline-container:hover .timeline {
  height: 100%;
}

.video-container.scrubbing .timeline::before,
.timeline-container:hover .timeline::before {
  display: block;
}

.video-container.scrubbing .thumb-indicator,
.timeline:hover .thumb-indicator {
  --scale: 1;
}

.timeline .preview-img {
  position: absolute;
  height: 80px;
  aspect-ratio: 16 / 9;
  top: -1rem;
  transform: translate(-50%, -100%);
  left: calc(var(--preview-progress) * 100%);
  border-radius: .25rem;
  border: 2px solid white;
  display: none;
}

.video-container.scrubbing .preview-img,
.timeline-container:hover .preview-img {
  display: block;
}

.video-container.scrubbing .thumbnail-img {
  display: block;
}

.thumbnail-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: none;
}